

Body { font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 10pt; font-style: normal; text-decoration: none; background-color: #FFFFFF; border-style: none; margin: 0in; marginleft: 0in; margintop: 0in; important!;}
.legal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #FFFFFF; font-style: normal}
.level1nav {  color: #00FF00; text-decoration: none}
a.level1nav:hover {  color: #FFFFFF}
.level2nav {  color: #000000; text-decoration: none}
a.level2nav:hover {  color: #FFFFFF}
.smallbox {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
a {  color: #00FF00; text-decoration: none}
.hover { color: #FFFFFF }
A:hover { color: #FFFFFF; text-decoration: none }
A.visited:hover { color: #FFFFFF; text-decoration: none }
A.visited { color: #00FF00; text-decoration: none }
.header_bg {  background: #001F90}
