

Body { font-family: "Times New Roman", Times, serif; color: #EEEEEE; font-size: 10pt; font-style: normal; text-decoration: none; background-color: #313031; margin: 0in; marginleft: 0in; margintop: 0in; important!;; border-style: none; background-image: url(/groups/global/images/camo.jpg)}
.level1nav {  font-weight: bold}
.border {  border: thin #5F604F solid; border-color: #5F604F #5F604F #5F604F}
.header_bg {  background: #272F08}
a:hover { color: #FFFFFF}
.table_bg { background: #404740}
a {  color: #CCCC99}
