

Body { font-family: "Times New Roman", Times, serif; color: #000000; font-size: 10pt; font-style: normal; text-decoration: none; background-color: #FFFFFF; margin: 0in; marginleft: 0in; margintop: 0in; border-style: none}
.level1nav { }
.border { }
.header_bg {  
color: #FFFF00;
font-color: #FFFF00;
background: #770077; 
font-weight: bolder
}
a:hover { }
.table_bg { background: #dcdcdc}
a {  }
