

Body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9900;
	font-size: 8pt;
	font-style: normal;
	text-decoration: none;
	background-color: Black;
	border-style: none;
	margin: 0in;
	marginleft: 0in;
	margintop: 0in;
	important!;
}
.legal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6.5pt; color: #FFFFFF; font-style: normal}
.level1nav {  color: #FF9900; text-decoration: none}
a.level1nav:hover {  color: #FFFFFF}
.level2nav {  color: #FF9900; text-decoration: none}
a.level2nav:hover {  color: #FFFFFF}
.smallbox {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
a {  color: #8543B1}
.hover { color: #FFFFFF }
A:hover { color: #FFFFFF}
A.visited:hover { color: #FFFFFF; text-decoration: none }
A.visited { color: #00FF00; text-decoration: none }
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #FF9900}
.header {  font-family: Haettenschweiler, Impact, "Arial Black"; font-size: 18pt; color: #99CCFF}
.W_header { font-family: Haettenschweiler, Impact, "Arial Black"; font-size: 24pt; color: #FF9900}
.desc { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6.5pt; color: #FF9900; font-style: normal }
